/*
p{
    color: blue;
    font-size: 20px;
}

p, ul, ol{
    color: rgb(221, 174, 117);
}
*/
/*
.standout1{
    color: blue
}
.standout2{
    color: yellow
}
.standout3{
    color: red
}
*/
h2.standout{
    color: red
}



.standout, .bold_text{
    color: blue
}
/*standout和bold_text都蓝色*/


p[align]
{
    color: pink;
}
/*align的内容都pink*/

.Image1{
    border-radius: 50%;
}
/*外框*/

.Image2{
    opacity: 0.2;
}
/*透明度*/

.Image3{
    filter:grayscale(70%);
}
/*灰度*/

.Image4{
    filter:blur(5px);
}
/*模糊*/